@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');



.navbar {
    position: fixed;
    z-index: 1;
    background-color: rgba(0 , 0 , 0 ,0.7);
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.navbar a {
    color: #fff;
    display: block;
    text-decoration: none;
}
.navbar a[data-menu="1"]{
    display: none;
}

@media (max-width: 500px) {
    .navbar {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .navbar a{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar a[rel="link-nav"] {
        display: none;
        animation: link-animation linear 0.2s;
    }
    body .navbar a[data-menu="1"] { display: block; align-self: center; cursor: pointer; color: #fff;}
}

@keyframes  link-animation{
    0% {
        transform: translateY(-200px);
    }
    100%{
        transform: translateY(0);
    }
}


.container.home {
    height: 100vh;
    background-color: rgb(40 , 40 ,40);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.container.home img {
    width: 300px;
    flex : 0 1 200px;
    border: 10px solid none;
    border-radius: 50%;
}
.container.home img:hover {
    transition: 400ms;
    transform: scale(1.1);
    box-shadow: rgb(10, 10, 10) 8px ;
}
.container.home .sm {
    display: grid;
    grid-template: 4 / repeat(12 , 1fr);
    grid-template-areas: 
        "g g g c c c d d d f f f";
    

}

.container.home p {
    font-size: 20px;
    color: #fff;
    font-family: 'Ubuntu' , 'Courier New' , Courier , monospace;
}
.container.home .sm a {
    display: block;
    padding: 35px;
    font-size: 1.5em;
    text-decoration: none;
}
.container.home .sm a:nth-child(1) {
    grid-area: g;
    color: red;
}
.container.home .sm a:nth-child(2) {
    grid-area: c;
    color: #fff;
}
.container.home .sm a:nth-child(3) {
    color: royalblue;
    grid-area: d;
}
.container.home .sm a:nth-child(4) {
    color: steelblue;
    grid-area: f;
}
.container.home .sm a:hover {
    transition: 0.2s;
    animation: rotate 0.5s;

}
@media (max-width:400px) {
    .container.home .sm a {
        padding: 20px;
    }
    .container.home .sm a:hover {
        transition: 0.5s;
        font-size: 2.7em;
        padding: 10px 20px 10px 20px;
    }
    .container.home img {
        width: 200px;
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: scale(1.2) rotate(25deg);
    }

}
