body{overflow-x: hidden;}
.container.info{
    width: 60%;
    margin: auto;
    position: relative;
    display: grid;
    grid : repeat(3 , 1fr) / repeat(12 , 1fr);
    grid-gap: 10px;
}
.section.info{
    height: 800px;
    width: 100%;
    background-color: var(--bcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin: auto;
}


.about-section footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
@media screen and (max-width:600px) {
    .about-section footer button{
        box-shadow: none;
        font-size: .5em;
        width: 40%;
        margin: 5px;
    }
    .about-section footer {
        flex-wrap: wrap;
    }
    .about-section h3 {
        padding: 0;
    }
}
.about-section footer button {
    padding: 10px 10px;
    background-color: var(--inbcolor);
    color: var(--txtcolor);
    border: none;
    box-shadow: 0px -2px 4px black;
    cursor: pointer;
    font-size: 1em;
}
.about-section footer button:hover {
    transition: 300ms;
    transform: scale(1.2);
}
.abt-tl{
    font-size: 2em;
    z-index: 1;
}
/*.curve{
    position: absolute;
    top : 0;
    width: 100%;
    height: 150px;
    background-color: rgb(10 , 10 , 10);
}

.curve::before{
    content: "";
    background-color: rgb(10 , 10 , 10);
    z-index: -1;
    border-radius: 50% 100%;
    transform: translate(-60% , -60%);
    width: 100%;
    height: 150px;
    position: absolute;
}*/

.container.info .img-section{
    grid-row: 1 / 6;
    grid-column: 1 / 3;
    background-color: transparent;
    border-radius: 12px;
    height: 200px;
}
.container.info .img-section img{
    width: 100%;
    height:100%;
    border-radius: 100%;
    
}
.container.info .about-section{
    grid-row: 1 / 3;
    grid-column: 3 / -1;
    background-color: rgba(255 , 255, 255, 0.1);
    border-radius:12px ;
    padding: 10px;
}
.container.info .about-section {
    color: var(--txtcolor);
    font-size: 20px;
    font-family: 'Ubuntu' , sans-serif;
}
.container.info .footer{
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    background-color: rgba(255 , 255, 255, 0.1);
    border-radius: 12px;
    color: var(--txtcolor);
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.container.info .img-section img:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
.info-btn{
    border: none;
    text-align: center;
    font-weight: 900;
    cursor: pointer;
    background-color: transparent;
    color: var(--txtcolor);
    font-size: 16px;
}
.info-btn:hover{text-decoration: underline;}

.curve1{
    position: absolute;
    top: 0;
    width: 100%;
    height: 225px;
    display: none;
}

.curve1::after{
    content: '';
    background-color: var(--bcolor);
    width: 100%;
    height: 225px;
    border-top-left-radius: 100% 50%;
    border-top-right-radius: 100% 50%;
    display: block;
    position: absolute;
    transition: all;
    transform: translate(0 , -50%);
    z-index: -1;
    display: none;
}
@media (max-width : 600px) {
    .container.info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .container.info * {
        width: 100%;
        font-size: .75em;
    }
    .container.info .footer{
        padding: 10px;
    }
    .section.info{
        padding: 0;
        margin: 0;
    }

}
.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: translate(0 , -90%);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 125px;
    transform: rotateY(180deg);
}

.wave .shape-fill {
    fill: var(--bcolor);
}

.abt-tl {
    border-top: 1px solid #ffffff;
    display: block;
    width: 60%;
    margin: auto;
    padding-top: 20px;
}